* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: auto;
  font-size: 18px;
  min-height: 80vh;
}

.header {
  height: 10vh;
  text-align: center;
  background-color: lightblue;
}

.footer {
  height: 10vh;
  width: 100%;
  text-align: center;
  background-color: #0a6a8a;
}

.margin_bottom {
  margin-bottom: 10px;
}

.omino {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.omino ul {
  list-style: none;
}

.omino .button,
.omino .button2 {
  width: 50px;
  height: 40px;
  background-color: green;
  color: white;
}

.omino .button2 {
  background-color: red;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

